<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <link rel="icon" type="image/png" href="{{ '/image/96x96_2.png' | url }}" />

    <!-- Milligram CSS -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css"
    />

    <link rel="stylesheet" href="{{ '/css/main.css' | url }}" />

    <title>NF-e Fácil - {{ title }}</title>

    <script data-cfasync="false" src="https://d3p8w7to4066sy.cloudfront.net/?otwpd=942862"></script>
  </head>
  <body>
    <nav class="navigation">
      <section class="container">
        <a
          class="navigation-title"
          href="{{ '/' | url }}"
          title="NF-e Fácil - Um emissor fiscal minimalista"
        >
          <img class="img" src="{{ '/image/96x96_2.png' | url }}" />
          <h1 class="title">NF-e Fácil</h1>
        </a>
        <ul class="navigation-list float-right">
          <li class="navigation-item">
            <a class="navigation-link" href="{{ '/posts' | url }}">Posts</a>
          </li>
        </ul>
      </section>
    </nav>

    {{ content }}

    <footer>
      Entre em contato via:
      <br />
      <a href="https://wa.me/5583988856440" title="WhatsApp" target="_blank">
        <img
          src="{{ '/image/iconmonstr-whatsapp-4.svg' | url }}"
          alt="Símbolo do WhatsApp"
        />
      </a>
      <a href="https://t.me/Jaedson33" title="Telegram" target="_blank">
        <img
          src="{{ '/image/iconmonstr-telegram-4.svg' | url }}"
          alt="Símbolo do Telegram"
        />
      </a>
      <a
        href="https://twitter.com/messages/compose?recipient_id=1262825502198452225"
        title="Twitter"
        target="_blank"
      >
        <img
          src="{{ '/image/iconmonstr-twitter-4.svg' | url }}"
          alt="Símbolo do Twitter"
        />
      </a>
      <a href="mailto:jaedson33@gmail.com" title="E-mail">
        <img
          src="{{ '/image/iconmonstr-email-10.svg' | url }}"
          alt="Símbolo de email"
        />
      </a>
    </footer>
  </body>
</html>
